# 依赖目录
/node_modules
/.pnpm-store
/.yarn
/.pnp
/.yarn/cache
/.yarn/unplugged
/.yarn/build-state.yml
/.yarn/install-state.gz
/.yarn/berry/cache

# 构建输出目录
/dist
/build
/out
/.next
/.nuxt
/.output

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 其他
.DS_Store
cankaoziliao/




